*{
	outline:1px solid rgba(255,0,0,0.3);
}
$tipografia:"Courgette",sans-serif;
$tipografiarial:"Arial",sans-serif;
$color_blanco:#fff;
$color_anaranjado:#DF7401;
$bacground_marino:#181124;
$bacground_violeta:#392B52;
$font16:16px;

h1,h2,h3{
	font-family:$tipografia;
	color:$color_anaranjado;
}
p,a{
	color:$color_blanco;
	font-family:$tipografia;
}
img{width: 100%;}
.img-logo{
	width: 40%;
}
.marino{
	background:$bacground_marino;
}
.blanco{
	color:$color_blanco;
}

.violeta{
	background:$bacground_violeta;
}
.mg4{
	margin: 4% 0%;
}
.menu{
	font-size:$font16;
}

.submenu>a:hover{
	text-decoration:none;
	color:$color_anaranjado;
}
.cuadro_came{
	margin: 8% 26%;
	padding: 3% 0% 1%;
}
.foto1{
	background-image:url("../image/header-image.jpg");
	background-size:cover;
	}
.pdl0{
	padding-left:0%;
}
.pdd0{
	padding-right:0%;
}
.pg2{
	padding: 1% 0%;
}
.arial{
	font-family:$tipografiarial;
}
.search{
	border: 19px solid $bacground_marino;
	padding: 2% 0% 2% 4%;
}
.bradio{
	border-radius:100%;
	margin:3%;
	padding:3% 4%;
}
.pd4{
	padding:4%;
}
.pdr2{
	margin:1% 2%;
}
.navbar-default .navbar-nav>li>a {
    color:$color_blanco;
}
.navbar-default .navbar-nav>li>a:hover {
    color:$color_anaranjado;
}
.spacio{
	word-spacing:2px;
}

@media(max-width:768px){
		
		.cuadro_came{
			margin: 21% 10% 6%;
		}
		.pdiz0{
			padding-right:0%;
		}
}
